{% extends 'default.html' %}

{% block title %}
	Main
{% endblock title %}

{% block content %}
    <h2>Добро пожаловать в сервис "Фанатская доска объявлений"!</h2>
	<hr>
    <p>Для просмотра объявлений перейдите на страницу "Объявления".</p>
    <br>
    <p>После регистрации и авторизации на сайте Вам станут доступны:<br>
        - создание и редактирование объявлений;<br>
        - оставление откликов на свои объявления и объявления других пользователей;<br>
        - просмотр, подтверждение и удаление откликов других пользователей на Ваши объявления;<br>
        - фильтрация откликов по Вашим объявлениям;<br>
        - получение уведомлений на почту о новых откликах на Ваши объявления;<br>
        - получение уведомлений на почту о принятии Ваших откликов другими пользователями;<br>
        - получение рассылки о новых объявлениях в любимой категории за неделю.
    </p>
{% endblock content %}